@media (max-width: 1200px) {
    .container {
        max-width: 920px;
    }
    .advantage {
        &__wrapper {
            width: 99%;                                 
        }
        &__item {
            margin-left: 5px;
            margin-right: 5px;
            width: 33%;
        }
    }  
}


@media (max-width: 991px) {
    .container {
        max-width: 93%;
    }
    .promo {
        &__header {
            font-size: 38px;        
        }
        &__subheader {
            font-size: 20px;
        }  
    }
    .button_main {
        width: 250px;
        height: 40px;
        font-size: 14px;
    }
    .advantage {
        padding: 60px 0 60px 0;
        &__header {
            font-size: 28px;
        }
        &__wrapper {
            margin-top: 55px;           
        }
        &__item {
            margin-left: 0px;
            margin-right: 0px;
            width: 33%;
        }
        &__subheader {
            width: 100%; 
            font-size: 18px;
            line-height: 22px;
        }
        &__descr {
            margin-top: 18px;
            font-size: 13px;
            text-indent: 7px;
            width: 92%;
        }
    }    
    .title {
        &_left {
            font-size: 32px;
        }
    }
    .consultation {
        &__descr {
            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 98%;
    }
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            font-size: 9px;
            span {
                font-size: 14px;
            }
        }
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 130px;
            height: 25px;
            border-radius: 4px;
            font-size: 10px;
            margin-top: 5px;      
        }
    }    
    .promo {
        padding: 21px 0 50px 0;
        min-height: 620px;
        &__wrapper {
            margin-top: 85px;
            align-items: center;
        }
        &__header {
            font-size: 32px;
        }
        &__subheader {
            margin-top: 14px;
            font-size: 17px;
        }
        &__icons {
            width: 380px;
        }
        &__icon {
            width: 95px;
            font-size: 11px;
            img {
                margin-bottom: 17px;
            }
        }
        &__link {
            margin-top: 20px;
            font-size: 13px;
        }
        .button_main {
            width: 200px;
            height: 32px;
            font-size: 11px;
        }
    }
    .advantage {
        min-height: 450px;
        padding: 50px 0 50px 0;
        &__header {
            font-size: 24px;
        }
        &__item {
            margin-top: 2px;
            img {
                margin-bottom: 27px;
                width: 25%;
            }        
        }
        &__subheader {
            width: 100%;
            font-size: 14px;
        }
        &__descr {
            margin-top: 12px;
            font-size: 10px;
            line-height: 15px;
            text-indent: 4px;
            width: 96%;
        }
    } 
    .title {
        &_left {
            font-size: 26px;
            text-align: center;
        }
    }
    .consultation {
        padding: 80px 0 80px 0;
        &__descr {
            font-size: 16px;
            text-align: center;
        }
    }   
    .feed-form {
        width: 280px;
        margin: 0 auto;
        margin-top: 36px;
        input {
            height: 40px;
            font-size: 13px;
                       
            }
        
    }
    .button {
        &_submit {
            height: 46px;
            font-size: 14px;
        }
    }    
}


@media (max-width: 575px) {
    .header {
        &__logo {
            width: 165px;
            margin-left: 7px;
        }
        &__official {
            display: none;
        }
        &__contacts {
            margin-right: 7px;
        }    
        &__phone {
            font-size: 13px;
        }
        .button {
            width: 120px;
            height: 24px;
            line-height: 10px;
            font-size: 9px;
            margin-top: 5px;      
        }
    }    

    .promo {
        padding: 18px 0 33px 0;
        min-height: 590px;
        &__wrapper {
            margin-top: 80px;
            align-items: center;
        }
        &__header {
            font-size: 24px;
        }
        &__subheader {
            margin-top: 6px;
            font-size: 12px;
        }
        &__icons {
            width: 350px;
            justify-content: center;
        }
        &__icon {
            width: 95px;
            font-size: 10px;
            img {
                margin-bottom: 14px;
            }
        }
        &__link {
            margin-top: 20px;
            font-size: 11px;
        }
        .button_main {
            width: 170px;
            height: 30px;
            font-size: 10px;
            line-height: 12px;
        }
    }

    .advantage {
        min-height: 450px;
        padding: 40px 0 40px 0;
        &__header {
            font-size: 18px;
        }
        &__wrapper {
            
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 12px;
            width: 99%;
        }





        &__item {
            margin-top: 10px;
            width: 90%;
            img {
                margin-bottom: 16px;
                width: 25%;
            }        
        }
        &__subheader {
            width: 100%;
            font-size: 12px;
        }
        &__descr {
            margin-top: 12px;
            font-size: 10px;
            line-height: 15px;
            text-indent: 4px;
            width: 90%;
        }
    }    

} 


